@import url('https://fonts.googleapis.com/css2?family=Lato&family=Libre+Baskerville&family=Nunito:wght@200&display=swap');

body {
    margin: 0;
    padding: 0;
}
#section-1{
    background: linear-gradient(175deg, #6C63FF 0%, #6C63FF 60%, transparent 50%, transparent 100%);
    height: 100vh; 
    margin: 0;
    padding: 25px 10px;
}

#section-1 h1{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 45px;
    line-height: 62px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 30px;
}

#section-1 p{

font-family: 'Nunito' sans-serif;
font-style: normal;
font-weight: 300;
font-size: 30px;
line-height: 30px;
text-align: justify;
color: #FFFFFF;
margin-bottom: 25px;

}

.photo-container{
    max-width: 400px;
    max-height: 150px;
}

#section-1 form{
    background-color: #FFFFFF;
    box-shadow: 10px 8px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 20px 25px;
    max-width: 500px;
}
#section-1 form h2{

font-family: 'Nunito' sans-serif;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 41px;
color: #6C63FF;


}


#section-1 form input[type="submit"]{
    background-color: #6C63FF;
    color: #FFFFFF;
    width: 100%;
}








